@import '@styles/design-system.scss';

.nestedComments {
  margin-left: 5%;
}

.commentContainer {
  padding: 20px;
  background-color: black;
  color: white;
  margin: 10px 0 10px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentOptionsContainer {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.expandButton {
  cursor: pointer;
  font-size: 14px;
  &:hover {
    text-decoration: underline;
  }
}

.addCommentButton {
  margin-right: 10px;
}

.addCommentWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 8px;
  background-color: black;
  input {
    width: 80%;
    outline: none;
    height: 40px;
    padding: 10px;
    border: $bg-gray;
    background-color: $bg-gray;
    border-radius: 4px;
  }
  button {
    border-radius: 8px;
    background-color: $bg-gray;
    padding: 10px;
    border-color: $bg-gray;
    cursor: pointer;
    margin-left: 10px;
    font-size: 15px;
  }
}

.rootCommentWrapper {
  position: sticky;
  bottom: 0;
  right: 0;
  margin-top: 10px;
  background-color: $bg-gray;
  input {
    background-color: black;
  }
  button {
    background-color: black;
  }
}
